SECRET_KEY=sample_secret_key
DEBUG=Bool
ALLOWED_HOSTS=localhost

# Interswitch
INTERSWITCH_CLIENT_ID='xxx'
INTERSWITCH_CLIENT_SECRET='xxx'
INTERSWITCH_MERCHANT_CODE='xxx'
INTERSWITCH_PAYABLE_CODE='xxx'
INTERSWITCH_REDIRECT_URL='https://domain.com/payments/callback'
N8N_WEBHOOK_PAYMENT_URL='https://your-username.app.n8n.cloud/webhook/payment-confirmed'

# Nomba
NOMBA_CLIENT_ID='xxx'
NOMBA_CLIENT_SECRET='xxx'
NOMBA_ACCOUNT_ID='xxx'
NOMBA_SUB_ACCOUNT_ID='xxx'
NOMBA_CALLBACK_URL='https://domain.com/payments/nomba/callback/'

# Database
DATABASE_URL='postgresql://<user>:<password>@<ep-id>-pooler.<region>.aws.neon.tech/<dbname>?sslmode=require&channel_binding=require'
DIRECT_DATABASE_URL='postgresql://<user>:<password>@<ep-id>.<region>.aws.neon.tech/<dbname>?sslmode=require&channel_binding=require'