SECRET_KEY='secret_key'
DEBUG=False
ALLOWED_HOSTS='localhost'

# Paystack
PAYSTACK_SECRET_KEY='sk_test_key'
PAYSTACK_PUBLIC_KEY='pk_test_key'
PAYSTACK_BASE_URL='https://api.paystack.co'
PAYSTACK_CALLBACK_URL='https://{frontend-url}/payments/callback/'


# N8N Webhook URL
N8N_WEBHOOK_PAYMENT_URL='https://your-username.app.n8n.cloud/webhook/payment-confirmed'
N8N_WEBHOOK_DUNNING_URL='https://theeinsurance.app.n8n.cloud/webhook-test/charge-failed'

# Database
DATABASE_URL='postgresql://pooler-db-url'
DIRECT_DATABASE_URL='postgresql://non-pooler-db-url'

# Cloudinary
CLOUDINARY_CLOUD_NAME='could_name'
CLOUDINARY_API_KEY='cloudinary_api_key'
CLOUDINARY_API_SECRET='cloudinary_api_secret'

# Resend
RESEND_API_KEY="re_api_key"
DEFAULT_FROM_EMAIL="onboarding@resend.dev"