SECRET_KEY='secret_key'
DEBUG=False
ALLOWED_HOSTS='localhost'

# Interswitch
INTERSWITCH_CLIENT_ID='interswitch_client_id'
INTERSWITCH_CLIENT_SECRET='interswitch_client_secret'
INTERSWITCH_MERCHANT_CODE='interswitch_merchant_code'
INTERSWITCH_PAYABLE_CODE='interswitch_payable_code'
INTERSWITCH_REDIRECT_URL='https://theeinsurance-bas-url/payments/callback/'

# Nomba
NOMBA_CLIENT_ID='nomba_client_id'
NOMBA_CLIENT_SECRET='nomba_client_secret'
NOMBA_ACCOUNT_ID='nomba_account_id'
NOMBA_SUB_ACCOUNT_ID='nomba_sub_account_id'
NOMBA_SIGNATURE_KEY='nomba_signature_key'
NOMBA_CALLBACK_URL='https://theeinsurance-bas-url/payments/nomba/callback/'


# N8N Webhook URL
N8N_WEBHOOK_PAYMENT_URL='https://your-username.app.n8n.cloud/webhook/payment-confirmed'
N8N_WEBHOOK_DUNNING_URL='https://theeinsurance.app.n8n.cloud/webhook-test/charge-failed'

# Database
DATABASE_URL='postgresql://pooler-db-url'
DIRECT_DATABASE_URL='postgresql://non-pooler-db-url'

# Cloudinary
CLOUDINARY_CLOUD_NAME='could_name'
CLOUDINARY_API_KEY='cloudinary_api_key'
CLOUDINARY_API_SECRET='cloudinary_api_secret'